# Problem 1
Bir YetGenli yeni aldığı bahçesinin etrafına çit çevirmek istiyor. Bahçenin etrafını çit ile çevirmek için gerekli çit uzunluğunu ve bahçenin alanını hesaplayan fonksiyonu yazınız.

In [ ]:

uzunluk = float(input("Bahçenin uzunluğunu girin (metre): "))
genislik = float(input("Bahçenin genişliğini girin (metre): "))

cevre = 2 * (uzunluk + genislik)
print("Bahçenin çevresi:", cevre, "metre")

alan = uzunluk * genislik
print("Bahçenin alanı:", alan, "metrekare")

# Problem 2
Kendisine gönderilen 2 sayı arasındaki tüm asal sayıları bulan fonksiyonu yazınız.

In [1]:
baslangic = 10
bitis = 50

for sayi in range(baslangic, bitis + 1):
    if sayi > 1:  
        asal_mi = True
        for i in range(2, sayi):  
            if sayi % i == 0:
                asal_mi = False
                break 
        if asal_mi:
            print(sayi)

11
13
17
19
23
29
31
37
41
43
47

# Problem 3
YetGen liderlerinin kurdukları girişim unicorn oluyor. YetGen liderleri iş arkadaşlarının alacağı ücretlerini hesaplamak için bir fonksiyon yazdılar. Bu fonksiyonu kullanarak, YetGen liderlerinin iş arkadaşlarına verecekleri ücretleri hesaplayınız.

Ücret hesaplanması çalışma saatine bağlıdır. Bunun için kullanıcıdan çalışma saati bilgisinn alın. Sonrasında yapılacak ödemenin hesaplanacağı computePay() adlı bir fonksiyon oluşturun. Bu fonksiyonun içinde işlemler yapın. Çalışma saati 40 ve altındaysa saat başına ücret 10 TL’dir. 40 saatin üstünde çalışıldıysa saat başına ücret 15 TL sayılmaktadır.

```
Test etmek için 30 saat değerini giriniz,  sonuç 300 TL çıkmalı, 
ikincil test olarak 50 değerini giriniz,  sonuç 750 TL çıkmalı.
```

In [2]:

saat = int(input("Çalışma saatini giriniz: "))

if saat <= 40:
    ucret = saat * 10
else:
    ucret = 40 * 10 + (saat - 40) * 15

print("Toplam ücret:", ucret, "TL")

Toplam ücret: 300 TL

# Problem 4
YetGenliler zirveye gitmek için toplanıyor. Zirveye gitmek için kiraladıkları araçlar 4'er kişiliktir. Gelecek kişi sayısı için Airtable üzerinde form açılıyor. Gelecek kişi sayısını alıp dört kişilik araçlara bölüp kalan kişi sayısını döndüren bir fonksiyon yazınız.

In [7]:

kisi_sayisi = int(input("Gelecek kişi sayısını giriniz: "))
kalan = kisi_sayisi % 4
print("Araçlara sığmayan kişi sayısı:", kalan)

Araçlara sığmayan kişi sayısı: 2

# Problem 5
sayiTopla() adında bir fonksiyon yazın. sayiTopla() fonksiyonu girilen sayıları toplayarak yazdırmasını sağlayan bir fonksiyon yazınız.

Örneğin sayiTopla(1,2,3,4,5) yazdığımızda 15 çıktısını almalıyız. sayiTopla(1,2,3,4,5,6,7,8,9,10) yazdığımızda 55 çıktısını almalıyız.

In [9]:

sayi_girisi = input("Toplamak istediğiniz sayıları giriniz (örnek: 1,2,3,4,5): ")

sayilar = sayi_girisi.split(",")

toplam = 0
for s in sayilar:
    toplam += int(s)

print("Toplam:", toplam)

Toplam: 15

# Problem 6

[("xxx",1),("xxx",2),("xxx",9),("xxx",3), ("xxx",1),("xxx",13),("xxx",26),("xxx",4)] listesi içerisinde verilen elemanların her birini tuple içindeki 2. Elemana göre sıralayınız.

In [10]:

liste = [("xxx", 1), ("xxx", 2), ("xxx", 9), ("xxx", 3), 
         ("xxx", 1), ("xxx", 13), ("xxx", 26), ("xxx", 4)]

liste.sort(key=lambda x: x[1])
print(liste)

[('xxx', 1), ('xxx', 1), ('xxx', 2), ('xxx', 3), ('xxx', 4), ('xxx', 9), ('xxx', 13), ('xxx', 26)]

# Problem 7
List comprehension kullanarak 1'den 100'e kadar olan sayılardan sadece çift sayıları bir listeye atmayı yapmayı çalışın.

In [11]:
cift_sayilar = [i for i in range(1, 101) if i % 2 == 0]
print(cift_sayilar)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]